/*************** EXTRA SMALL ***************/
@media (min-width: 475px) {
    .container {
      max-width: 475px;
    }
  }
  
/*************** SMALL ***************/
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  
/*************** MEDIUM ***************/
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
/*************** LARGE ***************/
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  
    .section {
      margin-top: 10rem;
    }
  }
  
/*************** EXTRA LARGE ***************/
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
  
/*************** EXTRA EXTRA LARGE ***************/
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }
  